---
// Blog Cards grid Section
// ------------
// Description: A grid of cards with blog information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/BlogCard.astro'

// Content
import blog01 from '../../../assets/blog/20251101_01/01.png'
import blog02 from '../../../assets/blog/20251101_02/01.png'
import blog03 from '../../../assets/blog/20251101_03/01.png'
import blog04 from '../../../assets/blog/20251101_04/01.png'
import blog05 from '../../../assets/blog/20251101_05/01.png'
import blog06 from '../../../assets/blog/20251101_06/01.png'
import blog07 from '../../../assets/blog/20251101_07/01.png'
import blog08 from '../../../assets/blog/20251101_08/01.png'
import blog09 from '../../../assets/blog/20251101_09/01.png'

import activity01 from '../../../assets/blog/20251101_10/01.png'
import activity02 from '../../../assets/blog/20251101_11/01.png'
import activity03 from '../../../assets/blog/20251101_12/01.png'
---

<Section id="blogs">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">สถานที่ <strong>ท่องเที่ยว</strong> ใกล้เคียง</h2>
			<p class="pb-0 text-lg">
				ห้องพักของเราตั้งอยู่ใจกลาง <strong>ชุมชนจีนยูนนาน</strong> (บ้านผาแดง) ทำให้คุณเข้าถึงวัฒนธรรมท้องถิ่น สัมผัสอากาศหนาว เปิดประสบการณ์ใหม่ และชมทะเลหมอกตลอดเส้นทาง ที่นี่คือจุดเริ่มต้นของการผจญภัยบน<strong>ดอยอ่างขาง</strong> ที่คุณไม่ควรพลาด!
			</p>
		</Col>
	</Row>
    <Row>
        <Col span="4" classes="flex flex-col gap-6">
            <Card
                title="สถานีเกษตรหลวงอ่างขาง"
                subtitle="สัมผัสอากาศหนาว ชมดอกไม้เมืองหนาวนานาชนิดในสวน 80 พรรษา และแปลงพืชผักผลไม้ตามฤดูกาล ถ่ายรูปสวย ๆ ที่ไร่ชา 2000 ใกล้แค่เอื้อม!"
                image={blog01}
                link="/blog/20251101_01_the_royal_agricultural_station_angkhang"
            />
            <Card
                title="จุดชมวิวม่อนสน"
                subtitle="ตื่นเช้าไปล่าหมอก! เป็นจุดชมทะเลหมอกและพระอาทิตย์ขึ้นที่สวยที่สุดแห่งหนึ่งของอ่างขาง พร้อมสัมผัสไอหนาวแบบฟินๆ"
                image={blog04}
                link="/blog/20251101_04_monson_viewpoint"
            />
            <Card
                title="ฮิโนกิแลนด์ (Hinoki Land)"
                subtitle="เที่ยวญี่ปุ่นทิพย์ในเชียงใหม่! อาณาจักรไม้สนฮิโนกิที่จำลองบรรยากาศปราสาทญี่ปุ่นสุดอลังการ ให้คุณได้ถ่ายรูปชุดกิโมโนสวย ๆ"
                image={blog07}
                link="/blog/20251101_07_hinoki_land"
            />
        </Col>
        <Col span="4" classes="flex flex-col gap-6">
            <Card
                title="จุดชมวิวซุยถัง (Suithang)"
                subtitle="อีกหนึ่งจุดชมทะเลหมอกและพระอาทิตย์ขึ้นที่งดงามไม่แพ้ม่อนสน สัมผัสลมเย็น ๆ และวิวภูเขาสลับซับซ้อนสุดลูกหูลูกตา"
                image={blog02}
                link="/blog/20251101_02_suitang_viewpoint"
            />
            <Card
                title="ไร่สตรอเบอร์รีบ้านนอแล"
                subtitle="กิจกรรมยอดฮิตประจำฤดูหนาว! แวะชมไร่สตรอเบอร์รีขนาดใหญ่ของชาวบ้านนอแล (ชุมชนจีนยูนนาน) พร้อมเก็บสตรอเบอร์รีสด ๆ จากต้น"
                image={blog05}
                link="/blog/20251101_05_strawberry_grden"
            />
            <Card
                title="โรงเตี๊ยมถ้ำง๊อบ (ร้านอาหารจีนยูนนาน)"
                subtitle="ชิมอาหารจีนยูนนานสูตรต้นตำรับที่ต้องมาลอง! ครบเครื่องเรื่องรสชาติ ท่ามกลางบรรยากาศโรงเตี๊ยมแบบโบราณสุดคลาสสิก"
                image={blog08}
                link="/blog/20251101_08_tham_ngob_inn"
            />
        </Col>
        <Col span="4" classes="flex flex-col gap-6">
            <Card
                title="ไร่ชา 2000 (Rai Cha 2000)"
                subtitle="ทุ่งชาขั้นบันไดสีเขียวสุดตระการตา มุมถ่ายรูปห้ามพลาดของอ่างขาง! จิบชาอุ่นๆ ชมวิวไร่ชาแบบ 360 องศา"
                image={blog03}
                link="/blog/20251101_03_2000_tea_plantation"
            />
            <Card
                title="ฐานปฏิบัติการบ้านนอแล"
                subtitle="จุดชมวิวชายแดนไทย-พม่า และสัมผัสวิถีชีวิตทหารหาญที่รักษาดินแดน พร้อมเก็บภาพความประทับใจกับทิวทัศน์ธรรมชาติสุดอลังการ"
                image={blog06}
                link="/blog/20251101_06_ban_nor_lae_border_post"
            />
            <Card
                title="จุดชมวิวผาแดง"
                subtitle="ชมวิวทิวทัศน์ของดอยสูงและหมู่บ้านจากมุมมองใหม่ หรือจะรอชมพระอาทิตย์ตกดินที่นี่ก็โรแมนติกไม่เบา"
                image={blog09}
                link="/blog/20251101_09_ban_pha_daeng_viewpoint"
            />
        </Col>
    </Row>

	<Row classes="mt-20">
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">กิจรรมและเทศกาล <strong>ที่ไม่ควรพลาด</strong></h2>
			<p class="pb-0 text-lg">
				นอกจากสถานที่ท่องเที่ยวแล้ว บริเวณรอบๆ ที่พักและดอยอ่างขางยังมี <strong>กิจกรรมสุดพิเศษ</strong> ให้คุณได้ร่วมสนุกตลอดปี ทั้งกิจกรรมประจำปี กิจกรรมยอดนิยม และ <strong>เทศกาลต่างๆ</strong> ของชุมชนจีนยูนนาน เตรียมตัวมาสัมผัสประสบการณ์ใหม่ ๆ ได้เลย!
			</p>
		</Col>
	</Row>
    <Row>
        <Col span="4" classes="flex flex-col gap-6">
            <Card
                title="ถ้ำง๊อบเทรล 2026 (Tham Ngob Trail)"
                subtitle="ท้าทายขีดจำกัดไปกับการวิ่งเทรลประจำปีในเส้นทางธรรมชาติสุดหฤหรรษ์ พร้อมวิวทิวทัศน์ที่สวยงามตลอดการแข่งขัน"
                image={activity01}
                link="/blog/20251101_10_tham_ngob_trail"
            />
        </Col>
        <Col span="4" classes="flex flex-col gap-6">
            <Card
                title="ชมซากุระเมืองไทย ตลอดเส้นทาง"
                subtitle="ถนนสีชมพูรอคุณอยู่! พลาดไม่ได้กับช่วงที่ดอกซากุระเมืองไทยบานสะพรั่ง เปลี่ยนถนนให้เป็นอุโมงค์ดอกไม้สุดโรแมนติก (ช่วง ม.ค.-ก.พ.)"
                image={activity02}
                link="/blog"
            />
        </Col>
        <Col span="4" classes="flex flex-col gap-6">
            <Card
                title="กอดลม ห่มดาว กับขุนเขาผาแดง"
                subtitle="เทศกาลประจำปีสุดชิลล์บนดอยอ่างขาง ที่คุณจะได้จิบกาแฟ ทานอาหารอร่อย และชมการแสดงพื้นเมืองท่ามกลางอากาศเย็นสดชื่น"
                image={activity03}
                link="/blog"
            />
        </Col>
    </Row>
</Section>
