---
// Blog Cards grid Section
// ------------
// Description: A grid of cards with blog information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/BlogCard.astro'

// Content
import blog01 from '../../../assets/blog/20251101_01/01.png'
import blog02 from '../../../assets/blog/20251101_02/01.png'
import blog03 from '../../../assets/blog/20251101_03/01.png'
import blog04 from '../../../assets/blog/20251101_04/01.png'
import blog05 from '../../../assets/blog/20251101_05/01.png'
import blog06 from '../../../assets/blog/20251101_06/01.png'
import blog07 from '../../../assets/blog/20251101_07/01.png'
import blog08 from '../../../assets/blog/20251101_08/01.png'
import blog09 from '../../../assets/blog/20251101_09/01.png'

import activity01 from '../../../assets/blog/20251101_08/01.png'
import activity02 from '../../../assets/blog/20251101_08/01.png'
import activity03 from '../../../assets/blog/20251101_08/01.png'
---

<Section id="blogs">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">สถานที่ <strong>ท่องเที่ยว</strong> ใกล้เคียง</h2>
			<p class="pb-0 text-lg">
				ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน 
				ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน 
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="สถานีเกษตรหลวงอ่างขาง "
				subtitle="สถานีเกษตรหลวงอ่างขาง  สถานีเกษตรหลวงอ่างขาง  สถานีเกษตรหลวงอ่างขาง สถานีเกษตรหลวงอ่างขาง "
				image={blog01}
				link="/blog"
			/>
			<Card
				title="จุดชมวิวม่อนสน"
				subtitle="จุดชมวิวม่อนสน จุดชมวิวม่อนสน จุดชมวิวม่อนสน จุดชมวิวม่อนสน จุดชมวิวม่อนสน จุดชมวิวม่อนสน"
				image={blog04}
				link="/blog"
			/>
			<Card
				title="ฮิโนกิแลน"
				subtitle="ฮิโนกิแลน ฮิโนกิแลน ฮิโนกิแลน ฮิโนกิแลน ฮิโนกิแลน ฮิโนกิแลน ฮิโนกิแลน ฮิโนกิแลน"
				image={blog07}
				link="/blog"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="จุดชมวิวซุยถัง"
				subtitle="จุดชมวิวซุยถัง จุดชมวิวซุยถัง จุดชมวิวซุยถัง จุดชมวิวซุยถัง จุดชมวิวซุยถัง จุดชมวิวซุยถัง จุดชมวิวซุยถัง จุดชมวิวซุยถัง"
				image={blog02}
				link="/blog"
			/>
			<Card
				title="ไร่สตรอเบอร์รีบ้านนอแล"
				subtitle="ไร่สตรอเบอร์รีบ้านนอแล ไร่สตรอเบอร์รีบ้านนอแล ไร่สตรอเบอร์รีบ้านนอแล ไร่สตรอเบอร์รีบ้านนอแล ไร่สตรอเบอร์รีบ้านนอแล"
				image={blog05}
				link="/blog"
			/>
			<Card
				title="โรงเตี๋ยวถ้ำง๊อบ"
				subtitle="โรงเตี๋ยวถ้ำง๊อบ โรงเตี๋ยวถ้ำง๊อบ โรงเตี๋ยวถ้ำง๊อบ โรงเตี๋ยวถ้ำง๊อบ โรงเตี๋ยวถ้ำง๊อบ โรงเตี๋ยวถ้ำง๊อบ โรงเตี๋ยวถ้ำง๊อบ"
				image={blog08}
				link="/blog"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="ไร่ชา 2000"
				subtitle="ไร่ชา 2000 ไร่ชา 2000 ไร่ชา 2000 ไร่ชา 2000 ไร่ชา 2000 ไร่ชา 2000 ไร่ชา 2000 ไร่ชา 2000 "
				image={blog03}
				link="/blog"
			/>
			<Card
				title="ฐานปฎิบัติการบ้านนอแล"
				subtitle="ฐานปฎิบัติการบ้านนอแล ฐานปฎิบัติการบ้านนอแล ฐานปฎิบัติการบ้านนอแล ฐานปฎิบัติการบ้านนอแล ฐานปฎิบัติการบ้านนอแล"
				image={blog06}
				link="/blog"
			/>
			<Card
				title="จุดชมวิวผาแดง"
				subtitle="จุดชมวิวผาแดง จุดชมวิวผาแดง จุดชมวิวผาแดง จุดชมวิวผาแดง จุดชมวิวผาแดง จุดชมวิวผาแดง จุดชมวิวผาแดง จุดชมวิวผาแดง"
				image={blog09}
				link="/blog"
			/>
		</Col>
	</Row>

	<Row classes="mt-20">
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">กิจรรมที่ <strong>น่าสนใจ</strong></h2>
			<p class="pb-0 text-lg">
				ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน 
				ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน ห้องพักตั้งอยู่กลางชุมชนจีนยูนนาน 
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="ถ้ำง๊อบเทรล 2026"
				subtitle="ถ้ำง๊อบเทรล 2026 ถ้ำง๊อบเทรล 2026 ถ้ำง๊อบเทรล 2026 ถ้ำง๊อบเทรล 2026"
				image={activity01}
				link="/blog"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="ถนนนางพญาเสือโครง"
				subtitle="ถนนนางพญาเสือโครง ถนนนางพญาเสือโครง ถนนนางพญาเสือโครง ถนนนางพญาเสือโครง"
				image={activity02}
				link="/blog"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="กอดลมหนาว 2024"
				subtitle="กอดลมหนาว 2024 กอดลมหนาว 2024 กอดลมหนาว 2024 กอดลมหนาว 2024"
				image={activity03}
				link="/blog"
			/>
		</Col>
	</Row>
</Section>
